<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Produto Artesanal - Loja Vilalva</title>
</head>

<body class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="w-full max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/2 p-4 flex items-center justify-center">
                <img src="https://via.placeholder.com/300" alt="Imagem do Produto" class="w-full h-auto max-w-sm rounded">
            </div>

            <div class="md:w-1/2 p-6 flex flex-col justify-center">
                <h2 class="text-3xl font-semibold text-gray-800 mb-4"><%= titulo %></h2>
                <p class="text-lg text-gray-600 mb-6">
                    Descrição detalhada do produto
                </p>
                
                <p class="text-xl font-semibold text-indigo-600 mb-4">Preço: 144,00 R$</p>

                <button class="bg-indigo-600 text-white font-bold py-2 px-6 rounded hover:bg-indigo-700 transition duration-300">
                    Comprar Agora
                </button>

                <a href="/" class="mt-6 text-indigo-500 hover:underline">Voltar para a loja</a>
            </div>
        </div>
    </div>
</body>

</html>